.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.activator {
    width: 100%;
    min-width: fit-content;
    padding: 0.25rem 0.5rem;
}

.menu {
    position: absolute;
    top: 100%;
    z-index: 10;
    display: flex;
    flex-direction: var(--menu-flex-direction, column);
    width: var(--menu-width);
    height: var(--menu-height);
    background-color: var(--bg-color);
}
