.display {
    display: grid;
    grid-template: auto auto / minmax(20%, 80%) 1fr;
    grid-template-areas:
        'title profile'
        'body profile';
    height: 10vh;
}

.display .title {
    grid-area: title;
}

.display .body {
    grid-area: body;
    font-style: italic;
    white-space: pre-line;
}

.display .profile {
    display: flex;
    flex-direction: column;
    grid-area: profile;
    justify-self: center;
    border: 1px solid blue;
}

.display .name {
    justify-self: center;
    height: 5rem;
    outline: 1px dotted red;
}

.display .image-container {
    position: relative;
    display: block;
    width: auto;
    height: 150px;
    outline: 2px solid green;
}

.display .image-container img {
    position: absolute;
    display: block;
    width: auto;
    height: 150px;
}

.display .image-container .base,
.display .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.display .image-container .overlay {
    z-index: 1;
}

.display .stats {
    outline: 2px solid yellow;
}
