html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.layout {
    display: grid;
    grid-template:
        'main'
        'footer';
    grid-template-rows: 1fr auto;
    min-height: 100dvh;
}

main {
    grid-area: main;
    padding: calc(1rem + var(--navbar-height)) 2rem;
}

footer {
    grid-area: footer;
    border-top: 1px solid var(--border-color);
}

main,
aside,
nav,
footer {
    background: var(--bg-color);
}
