html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.layout {
    display: grid;
    grid-template:
        'navbar navbar' var(--navbar-top)
        'sidebar main' 1fr
        'sidebar footer' auto
        / var(--sidebar-width) 90%;
    min-height: 100vh;
}

main {
    grid-area: main;
    padding: 2rem;
}

footer {
    grid-area: footer;
    border-top: 1px solid var(--border-color);
}

main,
aside,
nav,
footer {
    background: var(--bg-color);
}
