nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: var(--navbar-height);
    border-bottom: 1px solid var(--border-color);
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.start {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.end {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}
