.data-table-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
}

.data-table-container a {
    color: var(--lotus-blue-color);
}
