.table-container {
    width: fit-content;
    max-width: 100%;
    max-height: 65vh;
    overflow: auto;
    border: 1px solid #ccc;
}

table,
th,
td {
    width: auto;
    border-collapse: collapse;
    border: 3px solid black;
}

th,
td {
    padding: 10px;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}
