.data-table {
    display: grid;
    grid-template: auto auto / 0.9fr 1fr;
    grid-template-areas: 'header options' 'container container';
    max-width: 100%;
    height: 100em;
    max-height: 85dvh;
}

.data-table-header {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0.75rem 0;
}

.data-table-options {
    display: flex;
    grid-area: options;
    align-items: center;
}

.data-table-container {
    display: flex;
    flex-direction: column;
    grid-area: container;
    gap: 0.5rem;
    align-items: center;
    min-width: 0;
    min-height: 0;
}

.data-table-container a {
    color: var(--lotus-blue);
}

.data-table-container a:hover {
    text-decoration: underline;
}

.data-table-container td,
.data-table-container th {
    text-align: center;
}
