.data-table {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas: 'header options' 'container container';
    max-width: 100%;
    height: 100em;
    max-height: 85dvh;
}

.header {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    justify-content: flex-start;
    margin-right: 2rem;
    margin-bottom: 0.75rem;
}

.options {
    display: flex;
    grid-area: options;
    gap: 2rem;
    align-items: center;
}

.option {
    flex: 0 0 1;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    grid-area: container;
    gap: 0.5rem;
    align-items: center;
    min-width: 0;
    min-height: 0;
}

.container a {
    color: var(--lotus-blue);
}

.container a:hover {
    text-decoration: underline;
}

.container td,
.container th {
    text-align: center;
}
