.auth {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    height: 70%;
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 10rem;
}
